<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <% if (config.author){ %><meta name="author" content="<%- config.author %>" /><% } %>
        <% if (config.keywords && is_current('/')){ %><meta name="keywords" content="<%- config.keywords %>" /><% } %>
        <% if (config.description && is_current('/')){ %><meta name="description" content="<%- config.description %>" /><% } %>
        <% if (config.author){ %><meta name="author" content="<%- config.author %>" /><% } %>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <%- css('css/style20230505') %>
        <%- partial('./_partial/mathjax') %>
        <% var title = config.title;
        if (!is_current('/') && page.title) {
            title = page.title + " - " + title;
        }
        %>
        <title><%- title %></title>
    </head>
    <body<% if (is_current('/')) { %> class="sitetop"<% } %>>
        <div id="container">
            <% if (page.titleimg) { %>
                <h1 class="titleimg"><img src="<%- page.titleimg %>" alt="<%- page.title %>" /></h1>
            <% } else { %>
                <h1><%- page.title %></h1>
            <% } %>
            <% if (!is_current('/') && theme.links && !page.hidenav) { %>
                <nav><strong>Menu: </strong><ul>
                    <% theme.links.filter(e => !e.hidden).forEach(function(item) { %>
                        <% if (is_current(item.url, true)) { %>
                            <li><%- item.name %></li>
                        <% } else { %>
                            <li>
                                <a href="<%- url_for(item.url) %>"><%- item.name %></a>
                            </li>
                        <% } %>
                    <% }) %>
                </ul></nav>
            <% } %>
            <div id="contents">
                <%- body %>
                <% if (is_current('/')) { %><%- partial("./_partial/sitetop"); %><% } %>
            </div>
            <footer>
                Copyright&copy; <%- (new Date()).getFullYear() %> <%- config.author %> / Project RISA. All Rights Reserved.
            </footer>
        </div>
    </body>
</html>
